streamlit
scikit-learn
pandas
numpy
scipy
joblib
fastapi
uvicorn
langchain
langgraph
chromadb 
sentence-transformers 
langchain-community 
pypdf 
langchain-groq
langchain-huggingface
streamlit-extras
